.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    font: 600 12px/2 Arial, sans-serif;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption span {
    display: block;
    color: rgba(0, 0, 0, 0.4);
}
